{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {}
  },
  "extends": ["standard"],
  "rules":{
    "max-len": ["error", 120],
    "no-var": "error",
    "prefer-const": "error",
    "camelcase": [2, {"properties": "never"}]
  }
}
